[init]
	defaultBranch = main
[pull]
	rebase = false
[fetch]
	prune = true
[core]
	autocrlf = input
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = parikesit.ad@gmail.com
	name = parikesitad-pm
